* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  text-align: center;
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom center;
}

main {
  margin: 5em 1.5em;
}

h1 {
  color: var(--VeryDarkMagenta);
  font-size: 2.5rem;
  line-height: 0.8;
}

.customers-say {
  margin: 1.5em 0 1.7em 0;
  color: var(--DarkGrayishMagenta);
  font-size: 1.1rem;
  font-weight: 500;
}

.rated {
  background-color: var(--LightGrayishMagenta);
  border-radius: 10px;
  margin-bottom: 1em;
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  padding: 1em;
}

.stars {
  margin-bottom: 0.5em;
}

.review {
  background-color: var(--VeryDarkMagenta);
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 2em;
  color: var(--White);
  text-align: left;
}

.reviewer-info {
  margin-top: 0.6em;
}

.review img {
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-right: 1.3em;
}

.name {
  font-weight: 700;
}

.verified {
  color: var(--SoftPink);
  margin-bottom: 1.7em;
}

.first-review {
  margin-top: 3em;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 48em) {
  
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom -15vh right;
  }

  main {
    margin-left: 9em;
    margin-right: 9em;
  }

  .desktop-row1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 2em;
  }

  .desktop-column1 {
    width: 71%;
  }

  h1 {
    font-size: 3.5rem;
  }

  h1, .customers-say {
    text-align: left;
  }

  .customers-say {
    line-height: 1.5;
  }

  .rated:nth-child(1) {
    margin-right: 6em;
  }

  .rated:nth-child(2) {
    margin-right: 3em;
    margin-left: 3em;
  }

  .rated:nth-child(3) {
    margin-left: 6em;
  }

  .stars {
    display: inline;
    margin-right: 2em;
  }

  .stars img {
    margin-right: 0.3em;
  }

  .review-container {
    display: flex;
    gap: 2em;
  }

  .review {
    margin: 0;
  }

  .review:nth-child(1) {
    margin-bottom: 2em;
  }

  .review:nth-child(2) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .review:nth-child(3) {
    margin-top: 2em;
  }

  .review img {
    width: 15%;
  }
}